# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      label: 'Fuse preview'
      submenu: [
        {label: 'Local', command: 'fuse:preview-local'}
        {label: 'Android', command: 'fuse:preview-android'}
      ]
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Fuse'
      'submenu': [
          'label': 'Show Panel'
          'command': 'fuse:panel'
      ]
    ]
  }
]
