# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      label: "Locate in designer"
      command: "fuse:locate-in-designer"
    }
    {
      label: 'Fuse preview'
      submenu: [
        {label: 'Local', command: 'fuse:preview-local'}
        {label: 'iOS', command: 'fuse:preview-ios'}
        {label: 'Android', command: 'fuse:preview-android'}
      ]
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Fuse'
      'submenu': [
          'label': 'Toggle Panel'
          'command': 'fuse:panel'
      ]
    ]
  }
]
